<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkm.forum.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.zkm.forum.model.entity.Post">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
        <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
        <result property="viewCount" column="viewCount" jdbcType="INTEGER"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="article_abstract" column="article_abstract" jdbcType="VARCHAR"/>
        <result property="is_top" column="is_top" jdbcType="TINYINT"/>
        <result property="is_featured" column="is_featured" jdbcType="TINYINT"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="original_url" column="original_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        tags,thumbNum,favourNum,
        userId,createTime,updateTime,
        status,article_abstract,is_top,
        is_featured,isDelete,type,
        password,original_url
    </sql>
</mapper>
